.catalog-header {
    background-color: #f5f5f5;
}

.catalog-header .catalog-h1 {
    padding: 168px 0 44px 3px;
    color: #212121;
    font-size: 62px;
    font-weight: 200;
}

.catalog-content {
    margin-top: 71px;
    background-color: white;
}

.catalog-menu {
    margin-left: -20px;

    &-list {
        list-style-type: none;
        float: left;
        margin-bottom: 20px;
    }

    &-link {
        text-decoration: none;
        color: #6c6c6c;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.8px;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 19px;
        transition: 0.3s;

        &:hover {
            color: #212121;
        }
    }
}

.catalog-menu-link-active {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    border-bottom: 3px solid #212121;
}

.underline {
    width: 375px;
    height: 1px;
    background-color: #6c6c6c;
    margin-top: 44px;
}

.catalog-products {
    padding-top: 50px;
    margin-left: -15px;
    margin-right: -15px;

    &-list {
        list-style-type: none;
        float: left;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 30px;
        transition: 0.3s;

        &:hover {
            box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
        }
    }
}

.more-button {
    padding-top: 41px;
    position: relative;
    display: block;
    margin: 0 auto;
    width: 42px;
    height: 29px;
    margin-bottom: 140px;

    &-img {
        transition: 0.5s;

        &:hover {
            transform: rotate(360deg);
        }
    }
}