.contacts-page-header {
    background-color: #f5f5f5;
}

.site-background .contacts-page-h1 {
    padding: 161px 0 46px 3px;
    color: #212121;
    font-size: 62px;
    font-weight: 400;
}

.contacts-page-content {
    background-color: white;
}

.contacts-page-address {
    height: 357.33333333px;
    width: 357.33333333px;
    list-style-type: none;
    float: left;
    border: 1px solid #9c9c9c;
    background-color: #ffffff;
    opacity: 0.9;
    margin: 71px 9px 122px 9px;
    transition: 0.3s;

    &:hover {
        box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    }
}

.contacts-page-address .cpa-geotag {
    margin: 48px 166px 30px 166px;
}

.contacts-page-address .cpa-header {
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 14px;
}

.contacts-page-address .cpa-content-h {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 5px;
}

.contacts-page-address .cpa-content-p {
    color: #212121;
    font-weight: 700;
    text-align: center;
    padding-bottom: 15px;
}

.contacts-page-address .cpa-content-a {
    color: #212121;
    font-weight: 300;
    text-align: center;
    padding-bottom: 15px;
}