.featured-section {
    height: 609px;
}

.featured-menu {
    margin-top: 120px;
    list-style-type: none;
    width: 320px;
    border-bottom: 1px solid #6c6c6c;
    float: left;
}

.featured-menu:hover {
    border-color: #212121;
}

.featured-link {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    float: left;
    border-bottom: 3px solid #212121;
    width: 200px;
    padding-left: 9px;
}

.new-link {
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    margin-left: 9px;
    transition: 0.3s;

    &:hover {
        color: #212121;
    }
}

.featured-products-list {
    position: relative;
    clear: both;
    padding-top: 50px;
    list-style-type: none;
}

.featured-product {
    position: relative;
    width: 270px;
    height: 270px;
    padding-left: 30px;
    float: left;
}

.first-featured-product {
    padding-left: 0px;
}

.featured-products-overlay {
    list-style-type: none;
    position: absolute;
    display: flex;
}

.product-overlay {
    background-color: #ffffff;
    outline: 1px solid #9c9c9c;
    width: 270px;
    height: 270px;
    margin-left: 30px;
    opacity: 0;
    transition: 0.3s;

    &:hover {
        opacity: 0.9;
    }
}

.first-product-overlay {
    margin-left: 0;
}

.navigation-circle {
    display: block;
    width: 48px;
    height: 48px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    margin: 0 auto;
    margin-top: 62px;
}

.overlay-arrow {
    display: block;
    position: relative;
    width: 12px;
    height: 20px;
    padding-top: 16px;
    padding-left: 18px;
}

.product-name {
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    padding-top: 19px;
}

.product-short-desc {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    width: 206px;
    height: 33px;
    margin-left: 30px;
    padding-top: 15px;
}